<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form method="post">

        <label name="beginYear">Begin Year</label>
        <input name="beginYear" />

        <label name="endYear">End Year</label>
        <input name="endYear" />

        <button type="submit">SUBMIT</button>

    </form>
</body>
</html>