<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Time</h1>
    <form method="post">

        <label name="beginYear">Begin Year</label>
        <input name="beginYear" type="number"/>

        <label name="endYear">End Year</label>
        <input name="endYear" type="number"/>

        <button type="submit">SUBMIT</button>

    </form>
</body>
</html>