<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    
    <div class="row">
        <h1>Time</h1>
        <form method="post" class="formstyle">
            <div>
                <label name="beginYear">Begin Year</label>
                <input name="beginYear" type="number" />

                <label name="endYear">End Year</label>
                <input name="endYear" type="number" />
            </div>
            <div class="buttontype">
                <button type="submit" class="bb">SUBMIT</button>
            </div>
        </form>

    </div>
</body>
</html>